{% extends "projects/base.html" %}
{% block content %}
    <br>
    {% for project in projects %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ project.created_by.first_name }} {{ project.created_by.last_name }}</a>
                <small class="text-muted">{{ project.client }}</small>
            </div>
            <div>
                <small class="text-muted">{{ project.start_date }},</small>
                <small class="text-muted">{{ project.end_date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ project.name }}</a></h2>
            <p class="article-content">{{ project.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}    