{% extends "projects/base.html" %}
{% block content %}
    <h2 class="mb-3">Project created by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
    <table class="table table-sm">
        <thead>
            <tr class="table-light">
                <th scope="col">No.</th>
                <th scope="col">Project name</th>
                <th scope="col">Project description</th>
                <th scope="col">Client name</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Created by</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr class="table-secondary">
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <h6><a class="article-title" href="{% url 'project-detail' project.pk %}">{{ project.name }}</a></h6>
                </td>
                <td>
                    <p class="article-content">{{ project.description }}</p>
                </td>
                <td>
                    <p class="article-content">{{ project.client }}</p>
                </td>
                <td>
                    <small class="text-muted">{{ project.start_date }}</small>
                </td>
                <td>
                    <small class="text-muted">{{ project.end_date }}</small>
                </td>
                <td>
                    <img class="rounded-circle article-img" src="{{ project.created_by.profile.image.url }}" height=40 width=40>
                    <a class="mr-2" href="{% url 'user-projects' project.created_by.username %}">{{ project.created_by.first_name }} {{ project.created_by.last_name }}</a>
                </td>
                <td>
                    {% if project.created_by == user %}
                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'project-update' project.id %}">Update</a>
                    {% endif %}
                </td>
                <td>
                    {% if project.created_by == user %}
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'project-delete' project.id %}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}     
        </tbody>
    </table>

    <!--To check page is paginated or not-->
    {% if is_paginated %}

        <!--Paginated link: The user can go to first page as well as previous page-->
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <!--To show more previous and next page from current page-->
        {% for num in page_obj.paginator.page_range %}

            <!--To check a current page-->
            {% if page_obj_number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>

            <!--Showing 2 previous pages from current page and 2 next page from current page-->
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}    
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!--Paginated link: The user can go to next page as well as last page-->
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}  